<!DOCTYPE html>
<html lang="en">

<head>
    <title>Load student profile on click event</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app='swabhav.app'>


    <div ng-controller='MainController'>

        <button type="button" ng-click="loadStudentData()">load student profile</button>
        <p>name : {{student.name}} </p>
        <p>age : {{student.age}} </p>
        <p>year : {{student.year}} </p>
        <p ng-style="{'background-color':'{{student.cgpa|cgpaColor}}'}">cgpa : {{student.cgpa}} </p>
        Image:
        <br>
        <img src={{student.image}} alt="" width="100" height="100">
        <button type="button" ng-click="loadAllStudents()">load student profile</button>

        <h4 ng-repeat="student in studentList">
            <p>name : {{student.name}} </p>
            <p>age : {{student.age}} </p>
            <p>year : {{student.year}} </p>
            <p ng-style="{'background-color':'{{student.cgpa|cgpaColor}}'}">cgpa : {{student.cgpa}} </p>
            Image:<br>
            <img src={{student.image}} alt="" width="100" height="100">
        </h4>
    </div>


    <script src="angular.js ">
    </script>
    <script>
        angular.module("swabhav.app", []).controller('MainController',
            function($scope, $timeout) {
                $scope.student = {};

                $scope.loadStudentData = function() {
                    $timeout(function() {
                        $scope.student = {
                            name: 'darshan',
                            age: '19',
                            year: '1rd year',
                            cgpa: '5',
                            image: 'student.png'
                        }
                    }, 3000)
                    $scope.student = {
                        name: 'hiren',
                        age: '21',
                        year: '3rd year',
                        cgpa: '8',
                        image: 'student2.png'
                    }
                };

                $scope.studentList = [];
                $scope.loadAllStudents = function() {
                    $scope.studentList.push({
                        name: 'vivek ',
                        age: '21',
                        cgpa: '5',
                        year: '3rd year',
                        image: 'student2.png'
                    });
                    $scope.studentList.push({
                        name: 'hiren',
                        age: '21',
                        cgpa: '9',
                        year: '3rd year',
                        image: 'student2.png'
                    });
                    $scope.studentList.push({
                        name: 'darshan',
                        age: '19',
                        cgpa: '1',
                        year: '1rd year',
                        image: 'student.png'
                    });
                };
            });
        angular.module("swabhav.app").filter('cgpaColor', function() {
            return function(number) {
                if (number >= 0 && number < 3)
                    return "red"
                if (number > 3 && number < 7)
                    return "yellow"
                if (number > 7 && number <= 10)
                    return "green"
            }
        });
    </script>
</body>

</html>