<!DOCTYPE html>
<html lang="en">

<head>
    <title>Load student profile on click event</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app='swabhav.app'>


    <div ng-controller='MainController'>

        <button type="button" ng-click="loadStudentData()">load student profile</button>
        <p>name : {{student.name}} </p>
        <p>age : {{student.age}} </p>
        <p>year : {{student.year}} </p>

        Image:<br>
        <img ng-src="{{student.image}}" width="100" height="100">
        <button type="button" ng-click="loadAllStudents()">load student profile</button>
        <h4 ng-repeat="student in studentList">

            <p>name : {{student.name}} </p>
            <p>age : {{student.age}} </p>
            <p>year : {{student.year}} </p>
            Image:<br>
            <img ng-src="{{student.image}}" alt="" width="100" height="100">
        </h4>
    </div>


    <script src="angular.js ">
    </script>
    <script src="event_app.min.js">
    </script>
</body>

</html>