<!DOCTYPE html>
<html lang="en">

<head>
    <title>Load student profile on click event</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app='swabhav.app'>


    <div ng-controller='MainController'>
        <input type="number" ng-model="number">
        <button type="button" ng-click="fatchNumberData()">search</button>
        <button type="button" ng-click="deleteFactList()">deleteAll</button>
        <p ng-repeat="fact in factList | reverse">{{fact}}</p>

    </div>


    <script src="angular.js ">
    </script>
    <script src="ngStorage.js">
    </script>
    <script>
        angular.module("swabhav.app", ['ngStorage']).controller('MainController',
            function($scope, $http, $localStorage) {
                $scope.number = '';
                if ($localStorage.factList)
                    $scope.factList = $localStorage.factList;
                if (!$localStorage.factList)
                    $scope.factList = [];




                $scope.fatchNumberData = function() {
                    $http.get('http://numbersapi.com/' + $scope.number).then(function(dataObject) {
                        $scope.factList.push(dataObject.data)
                        $localStorage.factList = $scope.factList;
                    }, function(dataObject) {
                        console.log("Some Error occured");
                    })
                }

                $scope.deleteFactList = function() {
                    $localStorage.factList = null;
                    $scope.factList.splice(0)
                }
            });

        angular.module("swabhav.app", ).filter('reverse', function() {
            return function(items) {
                return items.slice().reverse();
            };
        });
    </script>
</body>

</html>